{
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "globals": [
    "describe",
    "it",
    "navigator",
    "XMLHttpRequest",
    "FormData",
    "React$Element"
  ],
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "react/prefer-stateless-function": off,
    "react/jsx-filename-extension": off
  },
}
