{
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "describe": true,
    "it": true,
    "__DEV__": true,
    "navigator": true,
    "XMLHttpRequest": true,
    "FormData": true,
    "React$Element": true
  },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "react/prefer-stateless-function": off,
    "react/jsx-filename-extension": off
  },
}
